src/test/java/homeWork/hw_13_22_06_2020_Read_Write/txtFiles/copyFiles/*
src/test/java/homeWork/hw_13_22_06_2020_Read_Write/txtFiles/NewFile.txt
src/test/java/homeWork/hw_13_22_06_2020_Read_Write/txtFiles/d.txt
src/test/java/homeWork/hw_13_22_06_2020_Read_Write/txtFiles/h.txt
src/test/java/homeWork/hw_13_22_06_2020_Read_Write/txtFiles/m.txt
src/test/java/homeWork/hw_13_22_06_2020_Read_Write/txtFiles/u.txt
src/test/java/homeWork/hw_13_22_06_2020_Read_Write/txtFiles/w.txt
src/test/java/homeWork/hw_13_22_06_2020_Read_Write/txtFiles/y.txt
src/test/java/homeWork/hw_14_24_06_2020_Read_Write_Part_2/txtFiles/AaBbCc.txt
src/test/java/homeWork/hw_14_24_06_2020_Read_Write_Part_2/copyFiles/copyFiles/*
src/test/java/homeWork/hw_14_24_06_2020_Read_Write_Part_2/copyFiles/13-linkin_park-numb_(zvukoff.ru).mp3
src/test/java/homeWork/hw_14_24_06_2020_Read_Write_Part_2/copyFiles/LP_History_of_Group.txt
src/test/java/homeWork/hw_14_24_06_2020_Read_Write_Part_2/copyFiles/LPLogo-black.svg.png
src/test/java/homeWork/hw_14_24_06_2020_Read_Write_Part_2/copyFiles/text1.txt
src/test/java/homeWork/hw_14_24_06_2020_Read_Write_Part_2/files/text1.txt