src/test/java/homeWork/hw_14_24_06_2020_Read_Write_Part_2/txtFiles/AaBbCc.txt
src/test/java/homeWork/hw_14_24_06_2020_Read_Write_Part_2/copyFiles/*
src/test/java/homeWork/hw_14_24_06_2020_Read_Write_Part_2/files/text1.txt
src/main/java/homeWork/checkArch.java